/** nav menu**/
header{
    display: flex;
    position: absolute;
    justify-content: flex-start;
    align-items: center;
    z-index: 999;
    margin-left: 60px;
    width: calc(100% - 120px);
}
header h1 span{
    display: none;
}
#nav-menu{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#nav-menu nav ul{
    display: flex;
    list-style: none;
}
#nav-menu nav ul a{
    text-decoration: none;
    color: var(--blanc);
    display: block;
    margin: 5px;
    font-family: 'Poppins_light';
    transition: all .3s;
    position: relative;
    overflow: hidden;
    padding-bottom: 5px;
}
#nav-menu nav ul a::before{
    content: '';
    display: block;
    position: absolute;
    bottom: 0px;
    width: -webkit-fill-available;
    height: 1px;
    right: 100%;
    background-color: var(--blanc);
    transition: all .3s;
}
#nav-menu nav ul a:hover{
    transition: all .3s;
    font-family: 'Poppins_bold';
}
#nav-menu nav ul a:hover::before{
    transition: all .3s;
    content: '';
    display: block;
    position: absolute;
    bottom: 0px;
    width: -webkit-fill-available;
    height: 1px;
    right: 0;
    background-color: var(--blanc);
}
/** bandeau accueil**/
#bandeau-accueil{
    position: relative;
    overflow: hidden;
    height: 100vh;
}
#bandeau-accueil img{
    object-fit:cover;
    position: absolute;
    z-index: -1;
}
#texte-bandeau-accueil{
    position: relative;
    top: 25%;
    width: 40%;
    left: 60px;
    font-size: 2vw;
}